<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="bg-white rounded p-5 shadow">
        <h1 class="mb-5 font-weight-bold">Mes réservations</h1>

        <div class="row">
            <% @bookings.each do |booking| %>
              <div class="card" style="width: 18rem;">
                <%= image_tag "room.jpg", class: 'card-img-top' %>
                <div class="card-body">
                  <p class="card-text">
                    <strong><%= booking.starts_at %></strong> - <%= booking.ends_at %>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            <% end %>
          </div>

        <%= link_to root_path, class: 'text-secondary text-decoration-none d-flex align-items-center mt-4 btn-size-back' do %>
          <i class="fas fa-angle-left"></i>
          <p class="mb-0 ml-1 ">Retour</p>
        <% end %>

      </div>
    </div>
  </div>
</div>
