<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container">
    <h1>Recherchez un <strong>hotel</strong></h1>
    <p>en quelques cliques</p>
    <p>et à prix réduit</p>
    <%= link_to 'Rechercher', rooms_path, class: 'btn btn-banner mt-3 font-weight-bold' %>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="bg-white rounded p-5 shadow">
        <h1 class="text-center my-5 font-weight-bold">Découvrez nos meilleurs offres du moment</h1>

        <div class="container">
          <div class="d-flex flex-row justify-content-center">
            <% @rooms.each do |room| %>
              <div class="d-flex m-4"><%= render 'shared/cards', room: room %></div>
            <% end %>
          </div>
        </div>

        <div class="text-center my-5">
          <%= link_to 'Voir les chambres', rooms_path, class: "text-decoration-none h5" %>
        </div>

      </div>
    </div>
  </div>
</div>
